################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/config/applicationhost.config
/.vs/mcmullen-website/v15/.suo
.DS_Store
